{
    "env": {
        "node": true
    },
    "globals": {
        "System": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 5,
        "ecmaFeatures": {
            "globalReturn": true
        },
        "sourceType": "script"
    },
    "rules": {
        "semi": "error",
        "quotes": ["warn", "single"],
        "no-undef": "error",
        "no-caller": "error",
        "no-console": "error",
        "no-use-before-define": ["error", "nofunc"],
        "no-multi-spaces": "warn",
        "no-underscore-dangle": "off",
        "key-spacing": "off",
        "keyword-spacing": ["error", {"before": true, "after": true}],
        "no-alert": "warn",
        "array-callback-return": "warn",
        "no-self-assign": "error",
        "id-blacklist": ["error", "self"],
        "template-curly-spacing": ["error", "never"],
        "no-unused-vars": ["error", {"argsIgnorePattern": "^_"}],
        "comma-dangle": "warn",
        "no-extra-semi": "warn",
        "no-redeclare": ["error", { "builtinGlobals": false }]

    }
}
