artifacts.zip

*.csv
*.iml
*.box
*.log
*.sw*

.DS_Store
.idea
.sass-cache
.tm_properties
.vagrant
.node-version
.sbt
.sbt.*

log
logs
ivy-sbt

tmp
old
target
.target
/*/bin/

RUNNING_PID

*.sublime-*

local.sbt

node_modules
jspm_packages
screenshots

common/conf/assets

developer.properties

*-spec-runner.html

# Eclipse #
.project
.classpath
.settings/
.metadata
.classpath
.springBeans
.cache

##
public/fronts-client-v2/dist
public/fronts-client-v1/
fronts-client/.vscode
**/manifest.json
.vscode
.vite

metals.sbt
.metals
.bloop
.bsp
