language: scala
scala: 2.12.5
jdk:
- oraclejdk8
addons:
  firefox: latest
  apt:
    sources:
     - google-chrome
    packages:
     - google-chrome-stable fluxbox
before_install:
- nvm install 6
- nvm install 9
- nvm use 6
- npm install -g grunt-cli
- npm -g install jspm
- npm install -g yarn

install:
- npm install
- grunt --version
- jspm config registries.github.auth $JSPM_GITHUB_AUTH_SECRET
- jspm registry export github
- jspm install
before_script:
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3
- fluxbox >/dev/null 2>&1 &
script:
- grunt --stack validate test && sbt ++$TRAVIS_SCALA_VERSION compile test assets && grunt --stack bundle && cd client-v2 && nvm use && yarn install && yarn lint && yarn test &&  yarn test-integration && yarn run build && cd .. && sbt ++$TRAVIS_SCALA_VERSION riffRaffUpload
env:
  global:
  - secure: Ah5DLXodRgTSh4sxLTTtW7l6dD7nTGD1HUsL2m4k+fLUTkwteG1qEuWFMXKigqCRwBp93T+yOoGZo7pKLa7WKJNq5plFbzcGYjWom+VJ3p4C45Ma03+FiY8wSRh7DYsdtTzjqZv9NIZP5ifnNDiVgwyDNOxA165FPDExLnBt6ZdslRV8OxH/3ILjpwxx8fhnLPyBqIuEY4M+dLoFGLienhfBvziKpA6Q3vQjH/ZvE5CQ+U6aVZdilRJOSU9wvDIQJYZrXbwl8fDGBorcVa5On31gE6nySx77i2M/3xSt02iN+0PKs+V5I+gn9+hCKDhSKgwHxXho2lgkAHI/to2xtw7h0XCJ/E0tylfwRLSg/zl32gO9UW+Hw1Mbju0j4CJSU4ArK6753pl0vQEpebl8ohI5vsytDMD9DzH+Fzdha6YSJJz5ml7DkehhrSZvdTsvJ5iDDqTmXObJSORsFF7Qpy4UQk4oLUgt2g57m8XeU4GPX/6DDOuzf4Rvz+Y9b0MnBbWhm97A3uYPIP+Ou/1oqmZsxBTB/pf+vq0ipfm0c/Vdk0NmtDl9mvNL5eHvSVgnGXIn1XOR3mJkOlxnbkOJA3qLCJUeKdyDiC2i7OBSIFu7ts41qghalppk67c57mUNhRKB181+d7rUf5xXtNeevJsOUaT0BYn4I2X56Dy0cTI=
  - secure: pAOWdxQ5SwkwyWNwa+oqERv2CuWY7L4fuzUoUkYYJHqTzbRVDfMKx8USV2gE8EFwyqPU9ERDUheoUrmQ08nmMIgdHLi1jdcgOO0Fiowz8OGYzyBu0oCPW7BND7ueNf6d8pKy0s48tTngszf4a40o4lXnn6yzRcbJ4s61bwsoE6UwEec0ifdPcn/6zuex4FNoQJNWyP0Qd/aZWJkz86wZ/suuafcQ6xfLtlS1QQGS7bVjwJIBTQzbdPei8pTI7rmNtQ/kPObFMpDNLSg75ebXZnUpQsoXUT2RL4yOVLOe2INXgrPEivZ/HxSEXIRx2wSIWgvQEs5LeO1xNnnW5+BWTITja5oTc+Y9mq3EwatVRIrKvFRSj3h08jtvOT6xSoXaAyLoABgmlx963rb2T3HUVRtTFvQiq49d5faxLsObMCo6+RUZwV5aQZGjLspKuI/X8GzPa6ss3RqR17Sncgi6mNRoZxGcSyi4IXzIwcSydS9dNm7rcC75moI/fEQABmR33W42M9hSogQbX9mQWX2zgzzwUD/tCweic7pEEIdbBSNioOz1lVwjNlkSQNuWFwe3+CO8jd5xjKLlxNoTSqh7RZNt6a4RWIRt17dNa/cH425+7I0/6WxKIVzD1AEzaOW2Fvs7xPNYgJHufWjFB5kpdfcVhgKwQ7sJ+Lr4CopAquY=
  - secure: LLfJLO2lCGs5MX/TgaaBEHR7+mqyRr9h+JcNLk8wXLESFN6LnDKnDMMQF0znvSTUlj4jQ7CaAw7Pfit+H/bYBZvdfa9vlWyYxNVX6aMEqhruvmYYGOv6mAkw4uFR1xj7K3vwuxaVLp9GbFHCL/E65D8uvDWL1GMsvHfQSj+ddNbwPJMoCtY7HJBj4VVGBloUKe59jpii40FCzAhKMotzBZoRv/yWwTkxHUqddWGa/9KWFD5v/cyoQQT29eDhIQ3myhxw6hcqY1Uung6udKWLEQFLckrwY81sNnXLEfdfc8taEGusrWq84+Mw2AWxJwPPhPf+o8UG+3AeNKS+gNzs7WiZnQ2OKKsmDL0cYTyLOXDP7N11r5L6nvQOnXkDGERSX5fv4zjLojd1zogchksuhqDyBayWMRnWVneYY2KJawGs5GhO1OUfZqFCyfaJfIrNfpUShOGNIOn0eU1QOMdr+An8z4fIuo1VQmTWZeh1mv4U2vWXFmA49lwt2xQbdBZQO9g8DqpqnlP4zHe0Mst3lhoi6sWjLzujPVgrCttE/z1qsr+Q408HpwDgsCGsbtdCnSkaBGOpI7MZzIwMdZKMKtZgjQeP9+ul0t/CxaEoA5qVqp75p6ReU7OEo5QvYNvPUP06rs1MR04FifNfrE5n1w9f6bNO5srOpEmkBpAkGd0=
  - secure: beB7qCuIyB9iMNRPxuZjc50cS5cEz0xZliDUFSny0q3PT+/fNf+IopEDR8SobbvFAz5mDXpbwzdRn3PcGTV6f2J8MjolXWS1Hx51vmbY00/yWwpGwOcUOiOiS+m0GGamWmYEbRqjXrZL5JvUVayjEU7c4kpw1WIPJNn4VvXCJ2o2opFhSTDNOzqcTdpm0juTQzOgOu6KdBD8CFFLRdG6S+9G1iuRrNPXnR2K7eDQ281Vw6ar3qjVWV+CrSpyBcEvA14Xsk5DtjSoj5pv9CFDcWeGchfh1xyXIMGrDRjsfVsA0K8zViv20Jvxy/vtX4kXWIWjzY76XjcYHaTm4MHzCb3KqSvSdzZfcSqo4ju8M/wx8iyqR9EHeVYWmHZqNa7cbEDf6oJiGyhsbDircM2HkQboFQH8xnqWYbjbMgJMVAo/zyo4MAQaNjc+cBNsqMQYz8++KY8HZv8CVgGeabpg7YOl086JgAU2XLp5uPSVChE7dXlVwsNR5GthAt+1V5mzu66WwMR2nR5vPTIQZkE2yw+sh7fKuXAu3s1MQHE6RLnIgHeYMQ69a7Dv4iNJWVSLHf+hdF6e+IYzQ13eaFRx2XRX2+ftnFdqfF6nZL7KwRPJxIUyxiozt9IHhDquQVxu/5dGlIonEqBG9Ka3352MmhND5sqzU1GZnLtQhpvD7Rc=
cache:
  directories:
  - node_modules
  - public/src/jspm_packages
  - ~/.ivy2/cache
  - ~/.sbt/boot/
  - ~/.nvm/
before_cache:
- du -h -d 1 $HOME/.ivy2/
- du -h -d 2 $HOME/.sbt/
- find $HOME/.sbt -name "*.lock" -type f -delete
- find $HOME/.ivy2 -name "ivydata-*.properties" -type f -delete
