[Unit]
Description=Facia tool

[Service]
Environment='MANAGEMENT_PORT=9000'
ExecStart=/home/facia-tool/facia-tool/bin/facia-tool -mem 512
User=facia-tool
WorkingDirectory=/home/facia-tool

[Install]
WantedBy=multi-user.target
