html {
    height: 100vh;
}
.mainFlexContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

header {
    background: #ffffff;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
    flex: 0 0 50px;
}

main {
    flex: 1 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: auto;
}

.column {
    flex: 1 100%;
    overflow: hidden;
    position: relative;
}

.columnPane {
    /* use the whole space of the parent column */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    /* provide a scrollable area for nested elements */
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.header__group {
    border-left: 1px solid #dcdcdc;
    display: flex;
    align-items: center;
    height: 50px;
}

.header__logo {
    flex: auto 0 1;
    padding-right: 10px;
}

.header__logo-link {
    display: flex;
    align-items: center;
}

.topAction {
    order: 99;
}

.topAction__unit {
    position: relative;
    height: 100%;
}

.topAction__expand {
    padding: 0 16px;
    border: 0;
    margin: 0;
    width: 100%;
    outline: none;
    background-color: #FFF;
    line-height: 49px;
    height: 49px;
    font-size: 12px;
}

.topAction__dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -1px;
    top: 100%;
    z-index: 20;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
}

.topAction__dropdown a,
.topAction__dropdown a:visited,
.topAction__dropdown a:hover,
.topAction__dropdown a:active {
    color: #333;
}

.header__link {
    font-size: 32px;
    letter-spacing: -1px;
    color: #666666;
    font-weight: normal;
    text-transform: lowercase;
    font-family: Georgia;
}

.logo {
    width: 48px;
    opacity: 0.6;
    margin-left: 6px;
}

.login-form {
    margin-bottom: 0;
}

.login-form__submit {
    padding: 0 30px;
    font-size: 15px;
    line-height: 50px;
    color: #fff;
    border: 0;
    cursor: pointer;
    background-color: #2ea3eb;
}

.login-form__submit:hover {
    background-color: #148ad2;
}

.dropdown.closed .dropdown__item {
    display: none;
}
.topAction__dropdown .dropdown__item {
    margin-bottom: 0;
    border: 1px solid #DCDCDC;
    border-top: 0;
    display: block;
    padding: 1em 0.5em;
    background-color: #FFF;
}
.topAction__dropdown .dropdown__item:hover {
    background-color: #F0F0F0;
}

.updating {
    background: #46c430;
    color: #ffffff;
    padding: 0 20px;
    line-height: 50px;
}

.secondary-action__button {
    margin: 0;
    padding: 0 20px;
    border: 0;
    outline: 0;
    line-height: 49px;
    background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
    font-size: 12px;
}

.secondary-action__button:hover {
    background-color: #DCDCDC;
}

.action__save {
    background-color: #EF5350;
}

.action__save:hover {
    background-color: #e57373;
}

.dropdown__trigger__icon {
    margin-left: 7px;
}

.v2-popup {
    flex: auto 1 1;
    padding-left: 10px;
    padding-right: 10px;
}

.v2-popup_text {
    background-color: #FFE500;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 42px;
}

 .v2-popup_text a {
    text-decoration: underline;
     color: #235f97;
}

.v2-popup_logo {
    background-color: #1C1D27;
    width: 26px;
    height: 42px;
    padding: 12px 7px 1px;
}
