@(stage: String, identity: Option[com.gu.pandomainauth.model.User] = None, isDev: Boolean, displayV2Message: Boolean, priority: String)

<header>
    <div class="header__group header__logo">
        <a href="/" class="header__logo-link" target="_top">
            <img class="logo" src="/assets/images/edit-pen.png" />
            <h1 class="header__item header__link">
                <span data-bind="text: title()">fronts</span>
                @if(isDev) { : @stage }
            </h1>
        </a>
    </div>

     @if(displayV2Message) {
         <div class="header__group v2-popup">
             <div class="v2-popup_logo"><img src="/assets/images/logo-v2.svg" /></div>
             <div class="v2-popup_text"><span>There's a new version of the fronts tool. Please&nbsp;<a href="/v2/@priority">try it by clicking here</a>. The new version will be made the default on <strong>Tuesday, 27th August.</strong></span></div>
         </div>
     }

    <div class="header__group topAction dropdown closed" data-bind="css: {
        closed: !isMainActionVisible()
    }">
        <div class="topAction__unit">
            <button class="dropdown__trigger topAction__expand" data-bind="toggleClick: isMainActionVisible">
                <span>@identity.map(_.firstName).getOrElse("") @identity.map(_.lastName).getOrElse("")</span>
                <i class="fa fa-chevron-down dropdown__trigger__icon"></i>
            </button>
            <ul class="dropdown__item topAction__dropdown">
                <li class="dropdown__item">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZje55T3OnErlTI_8iGuyZERjDy2Pybh8fdPmbnjy1PNFDAw/viewform" target="_blank">Send Feedback</a>
                </li>
                <!-- ko if: !layout.configVisible() -->
                <li class="dropdown__item" data-bind="click: chooseLayout">
                    <a href="#">Workspace</a>
                </li>
                <!-- /ko -->
                <li class="dropdown__item">
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- ko if: layout.configVisible() -->
    <div style="display: none;" class="header__group secondary-action" data-bind="visible: true">
        <div class="secondary-action__unit">
            <button class="secondary-action__button action__cancel" data-bind="click: cancelLayout">
                Cancel
            </button>
            <button class="secondary-action__button action__save" data-bind="click: saveLayout">
                Save
            </button>
        </div>
    </div>
    <!-- /ko -->

    <div style="display: none;" class="header__group state__pending" data-bind="visible: pending">
        <div class="updating">Updating</div>
    </div>
</header>
