@(title: String, jsLocation: String, clientConfigJson: String)
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@title</title>
    <style>
        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        html,
        body,
        .wrap {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="wrap" id="react-mount"></div>

    <script type="application/json" id="config">
    @Html(clientConfigJson)
</script>

    <script src="@jsLocation" type="application/javascript"></script>
</body>

</html>
