{
    "env": {
        "node": false,
        "jasmine": true,
        "browser": true,
        "es6": true
    },
    "plugins": [
        "jasmine"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "globalReturn": false
        },
        "sourceType": "module"
    },
    "rules": {
        // Overrides old
        "camelcase": 2,
        "no-shadow": 2,
        "strict": 2,
        "no-unused-vars": 1,
        "jasmine/no-disabled-tests": 2,
        "no-inner-declarations": 1
    }
}
