{
    "env": {
        "node": false,
        "browser": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "globalReturn": false
        },
        "sourceType": "module"
    },
    "rules": {
        "no-shadow": 0,
        "new-cap": 0,
        // Overrides old
        "camelcase": 2,
        "strict": 2,
        "consistent-return": 0,
        "no-underscore-dangle": 0
    }
}
