@(identity: Option[com.gu.pandomainauth.model.User] = None, stage: String, isDev: Boolean, bundlePath: String, displayV2Message: Boolean = false, priority: String = "", maybeTelemetryUrl: Option[String] = None)

@import switchboard.SwitchManager

<!DOCTYPE html>

<html>
    <head>
        <title>Fronts Editor</title>
        @templates.meta()

        <script src="/assets/jspm_packages/system.js"></script>
        <script src="/assets/js/jspm-config.js"></script>
        @if(!isDev) {
            <script src="@{bundlePath}"></script>
        }

        <script>System.import('setup');</script>
    </head>
    <body class="mainFlexContainer is-authed" data-bind="css: {pending: pending}">

    @if(SwitchManager.getStatus("facia-tool-disable")) {
        <span class="message message--important">Temporarily disabled. Please try again shortly.</span>
    } else {
        @templates.header(stage, identity, isDev, displayV2Message, priority)
        @templates.vertical_layout()
        @templates.main()
    }

	@maybeTelemetryUrl.map { telemetryUrl => {
        <script type="module">
			const image = new Image();
			image.src = `@Html(telemetryUrl)&path=${window.location.pathname}`;
		</script>
		}
	}
    </body>
</html>
