@(identity: Option[com.gu.pandomainauth.model.User] = None)

@import conf.Configuration
@import switchboard.SwitchManager

<!DOCTYPE html>

<html>
    <head>
        <title>Fronts Editor</title>
        @templates.meta()

        <script src="/assets/jspm_packages/system.js"></script>
        <script src="/assets/js/jspm-config.js"></script>

        <script>System.import('setup');</script>
    </head>
    <body class="mainFlexContainer is-authed" data-bind="css: {pending: pending}">

    @if(SwitchManager.getStatus("facia-tool-disable")) {
        <span class="message message--important">Temporarily disabled. Please try again shortly.</span>
    } else {
        @templates.header(Configuration.facia.stage, identity)
        @templates.vertical_layout()
        @templates.main()
    }
    </body>
</html>
